.Playground {
  background-color: #09ba09;
  border-left: 5px solid orange;
  flex: 1;
  padding-top: 50px;
  text-align: center;

  .play-field {
    perspective: 900px;
    position: relative;
    width: 300px;
    margin: auto;
  }
  .players-holder {
    position: absolute;
    width: 100%;
    padding-top: 80px;
    left: 0;
  }
  .field-image {
    width: 300px;
    position: absolute;
    animation: field-animation 2s alternate;
    animation-fill-mode: forwards;
    left: 0;
  }

  .player-placeholder-selected {
    width: 50px;
  }
  .player-placeholder {
    width: 50px;
    &.animate-focus {
      animation: fadein 5s ease, bounce ease 2s infinite alternate;
    }
  }

  .players-section {
    margin-bottom: 40px;

    &.section-midfielders .player-placeholder:nth-child(n + 3) {
      animation-iteration-count: 0;
      opacity: 0.5;
      animation: fadein 5s ease;
    }
    &.section-defenders .player-placeholder:nth-child(n + 4) {
      animation-iteration-count: 0;
      opacity: 0.5;
      animation: fadein 5s ease;
    }
    &.section-forward .player-placeholder:nth-child(n + 2) {
      animation-iteration-count: 0;
      opacity: 0.5;
      animation: fadein 5s ease;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes field-animation {
  from {
    transform: rotate3d(1, 0, 0, 0);
  }
  to {
    transform: rotate3d(1, 0, 0, 60deg);
  }
}
